# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# ChromaDB
chroma/
*.sqlite3

# Databases
*.db

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log